<p>asignar-curso-form works!</p>
<div class="container">
    <h3 class="mb-4">Asignación de Cursos</h3>
    <form>
        <div class="mb-3">
            <label for="curso" class="form-label">Curso</label>
            <select class="form-select" id="curso">
                <option selected>Seleccionar curso</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="alumno" class="form-label">Alumno</label>
            <select class="form-select" id="alumno">
                <option selected>Seleccionar alumno</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha de Asignación</label>
            <input type="date" class="form-control" id="fecha">
        </div>
        <button type="submit" class="btn btn-success">Asignar</button>
    </form>
</div>